    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    <meta name="twitter:creator" content="@{{ site.twitter }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}COVID-19 Global Education Recovery Tracker{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Monitoring the impact of the COVID-19 pandemic on response and recovery for students across the globe, by Johns Hopkins University, the World Bank, and UNICEF.{% endif %}" />
    <meta name="twitter:image" content="{{ site.url }}/img/og-image.png" />

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}COVID-19 Global Education Recovery Tracker{% endif %}">
    <meta property="og:image" content="{{ site.url }}/img/og-image.png">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Monitoring the impact of the COVID-19 pandemic on response and recovery for students across the globe, by Johns Hopkins University, the World Bank, and UNICEF.{% endif %}">
    <meta property="og:url" content="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}" />
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% if site.safe == true %}
      {% if page.libraries contains 'vuejs' %}
    <script src="/js/vue.min.js" type="text/javascript"></script>
      {% endif %}
      {% if page.libraries contains 'd3js' %}
    <script src="/js/d3.min.js" type="text/javascript"></script>
      {% endif %}
      {% if page.libraries contains 'bootstrap' %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
      {% endif %}
      {% if page.libraries contains 'fontawesome' %}
    <link href="/css/all.min.css" rel="stylesheet">
      {% endif %}
      {% if page.libraries contains 'tippy' %}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
      {% endif %}  
    {% else %}
      {% if page.libraries contains 'vuejs' %}
    <script src="/js/vue.js" type="text/javascript"></script>
      {% endif %}
      {% if page.libraries contains 'd3js' %}
    <script src="/js/d3.js" type="text/javascript"></script>
      {% endif %}
      {% if page.libraries contains 'bootstrap' %}
    <script src="/js/bootstrap.bundle.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
      {% endif %}
      {% if page.libraries contains 'fontawesome' %}
    <link href="/css/all.css" rel="stylesheet">
      {% endif %}
      {% if page.libraries contains 'tippy' %}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
      {% endif %}  
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67501679-17"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', '{{site.google-analytics-ua}}');
    </script>

    <title>{% if page.title %}{{page.title}}{% else if site.title %}{{site.title}}{% endif %}</title>
    <style>
     
      @font-face {
        font-family: 'FuturaPTWebLight';
        src:
          url('/webfonts//Futura-PT_Light.woff2') format('woff2'),
          url('/webfonts/Futura-PT_Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'FuturaPTWebBook';
        src:
          url('/webfonts/Futura-PT_Book.woff2') format('woff2'),
          url('/webfonts/Futura-PT_Book.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'FuturaPTWebDemi';
        src:
          url('/webfonts/Futura-PT_Demi.woff2') format('woff2'),
          url('/webfonts/Futura-PT_Demi.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }

      html, body {font-family: FuturaPTWebLight; font-size: 20px;}
      h1, h2, h3 {font-family: FuturaPTWebDemi;}
      strong, h4, h5, h6 {font-family: FuturaPTWebBook;}

      nav {min-height: 80px; font-family: FuturaPTWebDemi;}

      nav svg {height: 1.75em; width: 1.75em;}

      section {margin: 2em auto 1em auto; max-width: 1200px;}


      {% if page.libraries contains 'vuejs' %}
      [v-cloak], .hidden {display: none;}
      {% endif %}
    </style>