/* Circles around small countries and territories */
.circlexx {opacity: 1.0; stroke: #303030; stroke-width: 0.5;}
 
/* Smaller circles around subnational territories: Australian external territories, Chinese SARs, Dutch special municipalities, and French DOMs (overseas regions/departments) [but not French COMs (overseas collectivities)] */
.subxx {opacity: 1.0; stroke: #303030; stroke-width: 0.3;}

/* Land :(all land, as opposed to water, should belong to this class; in order to modify the coastline for land pieces with no borders on them a special class "coastxx" has been added below) */ 
.landxx {opacity: 1.0; stroke: #ffffff; stroke-width: 0.5; fill-rule: evenodd;}
 
/* Styles for coastlines of islands and continents with no borders on them (all of them should also belong to the class "landxx" - to allow for all land to be modified at once by refining "landxx" style's definition further down) */
.coastxx {opacity: 1.0; stroke-width: 0.2;}
 
/* Styles for territories without permanent population (the largest of which is Antarctica) */
.antxx {opacity: 0.0;}
 
/* Circles around small countries without permanent population */
.noxx {opacity: 1.0; stroke: #000000; stroke-width: 0.5;}

/* Styles for territories with limited or no recognition (all of them - including Taiwan - are overlays (i.e. duplicate layers) over their "host" countries, and so not showing them doesn't leave any gaps on the map) */
.limitxx {opacity: 1.0; stroke: #ffffff; stroke-width: 0.2; fill-rule: evenodd;}
 
/* Smaller circles around small territories with limited or no recognition */
.unxx {opacity: 1.0; stroke: #000000; stroke-width: 0.3;}
  
/* Oceans, seas, and large lakes */
.oceanxx {opacity: 0.0; stroke: #000000; stroke-width: 0.5;}
 
/* .eu - for members of European Union; .eaeu - for members of Eurasian Economic Union */