---
libraries:
 - fontawesome
 - d3js
 - vuejs
 - bootstrap
title: "Graphs"
---
<!DOCTYPE html>
<html>
  <head>
    {% include global-tracker-html-head.html %}
    <style>
      svg {fill: #DDDDDD;}
      {% include /worldmap.css %}
      .support-targeted {fill: #1A49BF;}
      .support-tutoring-volunteer {fill: #000000;}
      .support-tutoring {fill: #26B1FF;}
      .support-school-year {fill: #FFA733;}
      .support-school-day {fill: #A7FFE6;}
      .support-other {fill: #C7A7FF;}
      .support-no-data {fill: #DDDDDD;}

      .modality-tutoring {fill: #1A49BF;}
      .modality-paper-packets {fill: #000000;}
      .modality-mobile {fill: #26B1FF;}
      .modality-radio {fill: #FFA733;}
      .modality-television {fill: #A7FFE6;}
      .modality-online {fill: #C7A7FF;}
      .modality-no-data {fill: #DDDDDD;}

      .graph-key {max-width: 600px; margin: auto; font-size: smaller;}
      /* .graph-key {display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; font-size: small;} */
      .graph-key-color {height: 2rem; width: 2rem; margin: 0.2rem;}
    </style>
  </head>
  <body>
   {% include global-tracker-navbar.html %}



   <div id="vue-app" class="container mb-5">
    <h1>Graphs</h1>
    <div class="row text-center my-3">
      <h2>In-Person Educational Support Strategies</h2>
      <p>For systems where schools are open for in-person education, what additional educational support is being offered to mitigate learning loss among students?</p>
      <div id="observablehq-viewof-Data_Type-fc38e864" style="width: 50%;" ></div>
      <div id="observablehq-chart-fc38e864" style="width: 100%;"></div>
      <div class="my-3">
        This graph displays additional academic supports to mitigate learning loss for schools that are open for in-person education. Data is displayed by regional level and grade level as of the last survey response
      </div>
      <div class="graph-key w-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Legend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><svg class="support-targeted graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Targeted Remedial Measures for Specific Groups</strong>:  Interventions are offered as additional supports for targeted students or groups</td>
            </tr>
            <tr>
              <td><svg class="support-tutoring-volunteer graph-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Additional Tutoring by Volunteer/Non-Profit Organizations</strong>:	Tutoring offered as a support or remediation strategy by volunteers to support available in-country learning options for vulnerable students.</td>
            </tr>
            <tr>
              <td><svg class="support-tutoring graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Additional Tutoring by Teachers</strong>: Tutoring offered as a support or remediation strategy by teachers to support available in-country learning options for vulnerable students. </td>
            </tr>
            <tr>
              <td><svg class="support-school-year graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Changes in School Year Calendar</strong>: The school year calendar is extended, contracted, or otherwise adjusted to accommodate loss of schooling. </td>
            </tr>
            <tr>
              <td><svg class="support-school-day graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Changes in School Day</strong>:  The school day is extended, contracted, or otherwise adjusted to accommodate loss of schooling.</td>
            </tr>
            <tr>
              <td><svg class="support-other graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Other</strong>:	Other academic supports not listed above.</td>
            </tr>
            <tr>
              <td><svg class="support-no-data graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Unknown/Data Not Available</strong>: Unable to validate or locate information about additional supports. </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
    <hr />
    <div class="row text-center my-3">
      <h2>Remote Educational Modalities</h2>
      <p>For those learning remotely, what teaching modalities are employed?</p>
      <div id="observablehq-viewof-Data_Type-fc38e8642" style="width: 50%;" ></div>
      <div id="observablehq-chart-fc38e8642" style="width: 100%;"></div>
      <div class="my-3">
        This graph displays remote learning modalities at the regional level and grade level offered in each country as of the last survey response. 
        <br />
      </div>
      <div class="graph-key w-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Legend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><svg class="modality-tutoring graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Tutoring</strong>:  Tutoring offered as a support or remediation strategy. </td>
            </tr>
            <tr>
              <td><svg class="modality-paper-packets graph-key-color"viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Take Home Packages (paper-based)</strong>:	Education is provided by distributing take home curriculum packages to students.</td>
            </tr>
            <tr>
              <td><svg class="modality-mobile graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Mobile Devices</strong>: Education is provided through cellular phones and/or tablets.  </td>
            </tr>
            <tr>
              <td><svg class="modality-radio graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Radio</strong>: Education is provided by broadcasting instruction through radio.  </td>
            </tr>
            <tr>
              <td><svg class="modality-television graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Television</strong>:  Education is provided by broadcasting instruction through television programs or education-designated channels. </td>
            </tr>
            <tr>
              <td><svg class="modality-online graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Online Platforms</strong>:	Education is provided through synchronous or asynchronous online platforms. </td>
            </tr>
            <tr>
              <td><svg class="modality-no-data graph-key-color" viewbox="0 0 20 20"><rect x="0" y="0" width="20" height="20"></rect></svg></td>
              <td class="text-start"><strong>Unknown/Data Not Available</strong>: Unable to validate or locate information about remote learning modalities through in-country representatives or publicly available data.  </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
    <hr />
    <div class="row text-center my-3">
      <div class="graph-key w-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Grade Levels</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td class="text-start"><strong>Pre-Primary</strong>:  A learning space offering early childhood education to children, usually before the age of 5, before they begin compulsory education at primary school.   </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>Primary </strong>:	Also called elementary education, is typically for children in kindergarten through sixth grade.</td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>Lower Secondary</strong>: The equivalent of intermediate school, middle school, or junior high school; in many countries lower secondary education ends with an examination and constitutes the completion of basic education.    </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>Upper Secondary</strong>: Also called senior secondary; equivalent of high school or the second and final phase of general education.   </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
    <hr />
    <div class="row text-center my-3">
      <div class="graph-key w-100">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" colspan="2">Key: World Regions Acronyms   </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td class="text-start"><strong>EAS</strong>: East Asia and Pacific </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>ECS</strong>:Europe and Central Asia  </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>LCN</strong>: Latin America and the Caribbean   </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>MEA</strong>: Middle East and North Africa    </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>SAS</strong>:  South Asia   </td>
            </tr>
            <tr>
              
              <td class="text-start"><strong>SSF</strong>: Sub-Saharan Africa  </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
    <div class="row">
      To cite this work, use the following: Johns Hopkins University, World Bank & UNICEF (2021). COVID-19 Global Education Recovery Tracker. Last updated as of 5 April 2021. Baltimore, Washington DC, New York: JHU, World Bank, UNICEF. 
    </div>
    


<script type="module">

    import {Runtime, Inspector, Library} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
    import notebook from "https://api.observablehq.com/@camdens/grouped-bar-chart-s2q3a.js?v=3";
    
    // Select the element into which we’ll embed the chart.
    const chart = document.querySelector("#observablehq-chart-fc38e864");
    const chart_selector = document.querySelector("#observablehq-viewof-Data_Type-fc38e864");
    // Instantiate a standard library that can be used by the definition of width below.
    const library = new Library();
    
    // Pass the custom library to the runtime when instantiating our notebook.
    const runtime = new Runtime(library);
    const main = runtime.module(notebook, name => {
        if (name === "chart") return new Inspector(chart);
  if (name === "viewof Data_Type") return new Inspector(chart_selector);
  return ["data","x0","test","y","yAxis","groupKey","keys","x1","xAxis"].includes(name);
    });
    
    // Redefine width as a generator that yields the chart element’s clientWidth (if
    // changed) whenever the window resize event fires. If desired, use a
    // ResizeObserver instead; see the custom-fluid-width-and-height example.
    main.redefine("width", library.Generators.observe(notify => {
      let width = notify(chart.clientWidth); // initial width
      function resized() {
        let newWidth = chart.clientWidth;
        if (newWidth !== width) {
          notify(width = newWidth);
        }
      }
      addEventListener("resize", resized);
      return () => removeEventListener("resize", resized);
    }));
    
    </script>



<script type="module">

    import {Runtime, Inspector, Library} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
    import notebook from "https://api.observablehq.com/@camdens/grouped-bar-chart.js?v=3";
    
    // Select the element into which we’ll embed the chart.
    const chart = document.querySelector("#observablehq-chart-fc38e8642");
    const chart_selector = document.querySelector("#observablehq-viewof-Data_Type-fc38e8642");
    // Instantiate a standard library that can be used by the definition of width below.
    const library = new Library();
    
    // Pass the custom library to the runtime when instantiating our notebook.
    const runtime = new Runtime(library);
    const main = runtime.module(notebook, name => {
        if (name === "chart") return new Inspector(chart);
  if (name === "viewof Data_Type") return new Inspector(chart_selector);
  return ["data","x0","test","y","yAxis","groupKey","keys","x1","xAxis"].includes(name);
    });
    
    // Redefine width as a generator that yields the chart element’s clientWidth (if
    // changed) whenever the window resize event fires. If desired, use a
    // ResizeObserver instead; see the custom-fluid-width-and-height example.
    main.redefine("width", library.Generators.observe(notify => {
      let width = notify(chart.clientWidth); // initial width
      function resized() {
        let newWidth = chart.clientWidth;
        if (newWidth !== width) {
          notify(width = newWidth);
        }
      }
      addEventListener("resize", resized);
      return () => removeEventListener("resize", resized);
    }));
    
    </script>
       
   </div>
       

  </body>
</html>
